<h1 class="h1 text-center mt-3">To-Do list</h1>
<form class="row mx-auto max-content-width">
  <div class="col-auto">
    <input type="email" placeholder="Enter your To-Do" [(ngModel)]="inputData" [ngModelOptions]="{standalone: true}" class="form-control" id="inputField" aria-describedby="inputField">
  </div>
  <div class="col-auto">
    <button type="button" (click)="createToDo()" class="btn btn-primary">Submit</button>
  </div>
</form>
<div class="toDoItems">
  <select [(ngModel)]="filterInput" class="mb-3">
    <option *ngFor="let option of filterOptions" [value]="option.value">{{option.text}}</option>
  </select>
  <app-todo-item *ngFor="let item of ToDoList" [item]="item" (statusChange)="onStatusChange(item)"></app-todo-item>
</div>


